@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300&family=Saira+Condensed:wght@100&display=swap');

:root{
    font-family: 'Saira Condensed', sans-serif;
    background: linear-gradient(90deg, #3F2B96 0%, #A8C0FF 100%);
    background-image: url("https://images.unsplash.com/photo-1557053819-aa6046add523?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1632&q=80");
    background-color: #cccccc;
    background-color: #cccccc; /* Used if the image is unavailable */
    height: 100%; /* You must set a specified height */
    background-position: center; /* Center the image */
    background-repeat: no-repeat; /* Do not repeat the image */
    background-size: cover; /* Resize the background image to cover the entire container */
    background-attachment: fixed;
}
header .logo{
    color: white;
    text-align: center;
    font-family: 'Quicksand', sans-serif;
}
main{
    color: white;
    text-align: left;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

main .container{
    width: 40%;
    background-color: #282847;
    opacity: .8;
    padding: 0px 50px 50px 50px;
    border-radius: 5px;

}

main .quastion{
margin: 30px 0px 0px 0px;
}

main .input input, main select{
    display: block;
    width: 100%;
    height: 45px;
    border: none;
    outline: none;
    border-radius: 0.25rem;
    padding: 0px 10px 0px 10px;
    box-sizing: border-box;
    margin:0px 0px 22px 0px;
}

main .type-radio h1, main .type-checkbox h1{
    font-size: 22px;
    margin:0px 0px 0px 4px;
}

input[type=radio], input[type=checkbox] {
    border: 0px;
    width: 20px;
    height: 20px;
}

label {
    display: flex;
    flex-direction: row;
    justify-content: left;
    align-items: center;
    margin: 10px 0px 0px 0px;
}


textarea{
    border:none;
    outline: none;
    height: 100px;
    width: 100%;
    margin: 10px 0px 0px 0px;
    border-radius: 1px;
    font-size: 18px;
    padding: 0.25rem;
    box-sizing: border-box;
}

button[type=submit]{
    width: 100%;
    height: 40px;
    margin: 25px 0px;
    background-color: #37AF65;
    border-radius: 1px;
    border: none;
    outline: none;
    color: white;
    font-size: 20px;
    cursor: pointer;
    display: block;

}
footer h2{
    color:white;
    font-size: 15px;
}